<link href="../style.css" rel="stylesheet">


    Link to all pages
    <li><a href="/patrons">Patrons page</a></li>
    <li><a href="/books">Book page</a></li>
    <li><a href="/loans">Loans page</a></li>
    <li><a href="/genres">Genres page</a></li>
    <li><a href="/books-genres"> Books-Genres page</a></li>
    <li><a href="/locations">Locations page</a></li>