<link href="../style.css" rel="stylesheet">
<p id="navigation">
    <a href="/">Home</a>
    <a href="/patrons">Patrons</a>
    <a href="/books">Books</a>   
    <a href="/loans">Loans</a>   
    <a href="/genres">Genres</a>   
    <a href="/books-genres"> Books-Genres</a>   
    <a href="/locations">Locations</a>   
</p>

    <h1>Locations</h1>
    <h3>Display locations</h3>
<table id="locations-table" class="display">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Location ID</th>
            <th>Location name</th>
        </tr>
    </thead>
    <tbody>
        {{!-- For each row, print the items in order --}}
        {{#each data}}
        <tr>
            <td>{{this.locationID}}</td>
            <td>{{this.locationName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<form action="/locations" method="get">
    <div>
        <button type="submit">Reset</button>
    </div>
</form>

<br>
<h3>View locations with the information you entered</h3>
<form action="/view-locations" method="get" id="view-locations">
<table>
    <tr>
        <th>Location name</th>
    </tr>
    <tr>
        <td>
            <select name="locationName">
                <option value="" selected="selected">Select Location</option>
                {{#each locationNames}}
                <option value="{{this.locationName}}">{{this.locationName}}</option>
                {{/each}}
        </select>
            </select>
        </td>
    </tr>
</table>
<div class="location-view">
    <button type="submit">View</button>
</div>
</form>
<br>
<h3>Add a location to database</h3>
<form action="/add-location" method="post">
<table>
    <tr>
        <th>Location name</th>
    </tr>
    <tr>
        <td><input type="text" name="locationName" id="add-location" required></td>
    </tr>
</table>
<div>
    <button type="submit">Add</button>
</div>
</form>